* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
}

.logo {
  display: flex;
  align-items: center; /* căn giữa theo chiều dọc */
  gap: 10px; /* khoảng cách logo – chữ */
}

.logo img {
  width: 40px; /* chỉnh size logo */
  height: auto;
}

.logo span {
  font-size: 26px;      /* chữ to lên */
  font-weight: 700;     /* đậm */
  color: #ff3a3a;       /* đổi màu (vàng sang nhìn xịn) */
  letter-spacing: 1px; /* giãn chữ nhẹ */
}

.menu a {
  color: rgb(0, 0, 0);
  margin: 0 15px;
  text-decoration: none;
}

.menu a:hover {
  color: #ffb400;
}

.auth .btn {
  padding: 6px 14px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

/* BANNER */
.banner {
  width: 100%;
  height: 230px;       /* thấp hơn nữa */
  overflow: hidden;
  background: #000;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%; /* DỊCH XUỐNG ĐỂ LẤY MẶT */
  display: block;
}

/* CATEGORY */
.categories {
  padding: 30px 40px;
  background: #000000;
}

.categories h2 {
  margin-bottom: 20px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100px;
  margin-bottom: 10px;
}
body {
  margin: 0;
  background: #000;
}
  